.App {
  /* border: 2px solid red; */
  height: 90vh !important;
  text-align: center;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}